@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  -webkit-tap-highlight-color: transparent;
  background: rgba(0, 0, 0, 1);
}

canvas {
  cursor: pointer;
}
.apply_btn_style {
  // @apply min-w-[60px] w-[60px] max-h-[60px] h-[60px]  bg-gray-400 rounded-full;
  @apply bg-transparent rounded-full;
}
.apply_after::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #000;
  border: 1px solid red;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.btn_bg {
  // background-image: url("../public/wave.png");
  background-position-x: 0px;
  animation: bgWave 2s infinite ease;
}
// @keyframes bgWave {
//   0% {
//     background-position-x: 0px;
//   }
//   100% {
//     background-position-x: 1860px;
//   }
// }
.bx {
  color: wheat;
}
